@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar but keep functionality */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  
  /* Class to pause GIFs when not hovered */
  .gif-paused {
    animation-play-state: paused !important;
    animation: 0s !important;
    -webkit-animation-play-state: paused !important;
    -webkit-animation: 0s !important;
  }
}